body {
    color:black;
    background-color:#666666;
    margin:0px;
    padding:0px;
    font:11px verdana, arial, helvetica, sans-serif;
    }
.myip {
    margin: auto;
    width: 50%;
    border: 3px solid #444444;
    padding: 70px 50;
    margin-top: 100px;
    background-color: #999999;
    }
.myspeed {
    margin: auto;
    width: 100%;
    }
